{% extends 'info/base.html' %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        <b>Timetable</b></div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="cf">
                <tr>
                    <th style="font-size:15px!important"> Day</th>
                    <th style="font-size:13px!important">7:30 - 8:30</th>
                    <th style="font-size:13px!important">8:30 - 9:30</th>
                    <th style="font-size:12px!important">9:30 - 10:30</th>
                    <th style="font-size:15px!important">Break</th>
                    <th style="font-size:11px!important">11:00 - 11:50</th>
                    <th style="font-size:11px!important">11:50 - 12:40</th>
                    <th style="font-size:11px!important">12:40 - 1:30</th>
                    <th style="font-size:15px!important">Lunch</th>
                    <th style="font-size:13px!important">2:30 - 3:30</th>
                    <th style="font-size:13px!important">3:30 - 4:30</th>
                    <th style="font-size:13px!important">4:30 - 5:30</th>
                </tr>
                </thead>
                <tbody>
                {% for i in matrix %}
                <tr>
                    {% for j in i %}
                    {% if forloop.counter == 1 %}
                    <td><b>{{ j }}</b></td>
                    {% else %}
                    <td>{{ j }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>


{% endblock %}
